<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/game.css') }}>
		<title>Triba</title>
	</head>
	<body onload="startGame()">

		<div class="overlay" id="game-overlay">
	    </div>
		
		<div class="skriveno" id="snimanje">
			<div id="controls">
				<button id="recordButton">Record</button>
				<button id="pauseButton" disabled style="display: none;">Pause</button>
				<button id="stopButton" disabled>Stop</button>
			</div>
			<!--<div id="formats">Format: start recording to see sample rate</div>-->
			<!--<p><strong>Recordings:</strong></p>-->
			<div id="predikcija"></div>
			<ol id="recordingsList" style="display: none;"></ol>
		</div>

	    <!-- Meni -->
	    <div class="box" id="game">
	    	<h1>TRIBA</h1>
			<button id="nova-igra">Nova igra</button>
			<button id="upute">Upute</button>
			<button id="oProjektu">O projektu</button>
	    </div>

	    <!-- Ako je kraj igre -->

		<div class="overlay" id="game-over-overlay">
	    </div>

	    <div class="box" id="game-over">
			<h1>GAME OVER</h1>
			<h2 id="pobjednik"><h2>
			<button id="igraj-opet">Igraj ponovo</button>
	    </div>

	    <!-- Upute -->

	    <div class="skriveno" id="tekstUputa">
	    	<a href={{ url_for('home') }}><button class="nazad">Nazad</button></a>
	    	<p>Igra je za dva igrača, A i B (A igra prvi). Igra se protiv kompjutera. Korisnik može birati da li će igrati prvi ili drugi, oblik ploče kao i težinu AI igrača.</p>
	    	<p>U svakom potezu igrač koji je na redu bira tri tačke (koje nisu sve na istoj pravoj) koje čine trougao.</p>
	    	<p>Ukoliko taj trougao ne siječe i ne dodiruje ni jedan od prethodno nacrtanih trouglova, i on se crta.</p>
	    	<p>Igra je završena kada jedan igrač ostane bez poteza.</p>
	    	<p>Igrač koji je zadnji odigrao potez pobjeđuje.</p>
	    </div>

	    <!-- O projektu -->

	    <div class="skriveno" id="tekstProjekta">
	    	<a href={{ url_for('home') }}><button class="nazad">Nazad</button></a>
	    	<p>Predmet: Vještačka inteligencija</p>
	    	<p>Profesor: doc. dr. Damir Hasić</p>
	    	<p>Asistent: Sead Delalić</p>
	    	<p>Fakultet: Prirodno-matematički fakultet u Sarajevu</p>
	    	<p>Smjer: Teorijska kompjuterska nauka</p>
	    	<p>Student: Adisa Bolić</p>
	    	<p>E-mail: adisa.bolic@gmail.com</p>
	    </div>

	    <!-- Odabir ploče za igru -->

		<div class="skriveno box" id="izborPloce">

			<input type="radio" id="easy" name="AIdiff" value="0"> Easy AI
			<input type="radio" id="medium" name="AIdiff" value="1" checked=true> Medium AI
			<input type="radio" id="hard" name="AIdiff" value="2"> Hard AI <br><br>

	    	<a href={{ url_for('home') }}><button class="nazad">Nazad</button></a><br><br><br>

			<input type="radio" id="firstPlayer" name="whichTurn" value="first" checked=true> Igram prvi
			<input type="radio" id="firstAI" name="whichTurn" value="second"> Igram drugi <br><br>

			<input type="radio" id="standard" name="standardChoice" value="yes" checked=true> Pravougaona standardna ploča <br><br>
			<label for="width">Broj redova: </label>
			<input type="text" id="matrixHeight" name="width" value=10><br><br>
			<label for="height">Broj kolona: </label>
			<input type="text" id="matrixWidth" name="height" value=10><br><br>

			<input type="radio" id="nonstandard" name="standardChoice" value="no"> Trougaona nestandardna ploča <br><br>
			<label for="width">Veličina: </label>
			<input type="text" id="triangleSize" name="triangleSize" value=5><br><br>
			<button id="start">Start</button>
	    </div>

	    <script type="text/javascript" src={{ url_for('static', filename='js/utils.js') }}></script>
		<script type="text/javascript" src={{ url_for('static', filename='js/logics.js') }}></script>
		<script type="text/javascript" src={{ url_for('static', filename='js/game.js') }}></script>
	    <script type="text/javascript" src={{ url_for('static', filename='js/AI.js') }}></script>
		<script type="text/javascript" src={{ url_for('static', filename='js/recorder_api.js') }}></script>
		<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	</body>
</html>